body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
  }
  
  .section {
    width: 100%;
    height: 55vw; /* The height is equal to the max width of the viewport */
  }
  
  .contact_title {
    width: 100%;
    height: 29vw; /* The height is equal to the max width of the viewport */
  }


  .contact_title img{
    width: 100%; 
  }
  

  .contact_content {
    margin-top: -1%;
    width: 100%;
    background-color: rgb(255, 210, 143);
    height: 25vw; /* The height is equal to the max width of the viewport */
    font-family: 'Shrikhand', cursive;
    color: white;
}

  .contact{
    width: 20%;
    /*height: 10%;*/
    background-color: red;
    margin-top: 3%;
    margin-left: 40%;
    font-size: 25px;
    border-radius: 20% 20% 20% 20%;
    background-color: #a52a2a; /* Red color for the pill */
    color: #fff; /* White text */
    font-family: 'Shrikhand', cursive; /* Optional font styling */
    font-size: 1.5rem; /* Adjust font size */
    padding: 10px 30px; /* Padding for height and width */
    border-radius: 50px; /* Fully rounded corners */
    text-align: center; /* Center the text */
    display: inline-block; /* Ensure the div sizes to its content */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Optional shadow for effect */
  }

 
.contact_content a {
    text-decoration: none;
    color: white;
}
  .socmed {
    width: 10%;
    height: 100%;
    margin-top: 2%;
    margin-left: 15%;
    float: left;
    border-radius: 2%;
  }

  .socmed img{
    width: 100%; 
  }


  .bungkus_socmed {
    width: 50%;
    height: 20%;
    margin-top: 2%;
    margin-left: 30%;
  }

  .bungkus_socmed .a {
    text-decoration: none;

  }


  .section img{
    width: 100%; 
  }
  
  